<div style="display: flex; flex-direction: column; align-items: center;">
    <table>{{{tableHtml}}}</table>
    <input type="button" {{#if mayNotApply}}disabled{{/if}} id={{inputId}} value="APPLY (GM only)"/>
</div>
