<tr>
    {{#each mainAttributes}}
    <th>{{shortLabel}}</th>
    {{/each}}
</tr>
<tr>
    {{#each mainAttributes}}
    <td style="font-weight: {{#if delta}}bold{{else}}normal{{/if}};" >{{value}} {{#delta delta}}{{/delta}}</td>
    {{/each}}
</tr>